<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/style.css">
<style>
  /* Your existing styles for background, animations, etc. */
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-image: url("https://http.cat/404.jpg");
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    animation: scrolling 7.5s linear infinite;
  }
  
  @keyframes scrolling {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: -750px 600px;
    }
  }
  
  p {
    color: #FFFFFF;
    text-align: center;
    margin: 10px 0;
  }
</style>
</head>
<body>
<p>Error 404!!!!!!!</p>
<p>not found.......</p>
<p>did you make a typo? maybe.</p>
<a href="https://videos.mubi.tech"><p>click here to go back to the homepage!!!</p></a>
</body>
</html>