<!DOCTYPE html>
<html>
<head>
<style>
    body {
      background-image: url("https://http.cat/404.jpg");
      background-position: center;
      background-repeat: repeat;
      animation: scrolling 7.5s linear 1;
      animation-direction: forward;
      animation-iteration-count: infinite;
    }
    @keyframes scrolling {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -750px 600px;
    }
		p {
			  position: absolute;
			  top: 50%;
			  left: 50%;
			  transform: translate(-50%, -50%);
		}
}
</style>
</head>
<body>
<p>Error 404!!!!!!!<\p><br><p>not found.......</p><br><br><p>did you make a typo? maybe.</p><br><br><a href="https://videos.mubi.tech"><p>click here to go back to the homepage!!!</p></a>
</body>
</html>