<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/style.css" rel="stylesheet" />
    <title>Video Deleted - MUBI Videos</title>
    <style>
        body {
            background-color: rgb(29, 29, 29);
            color: white;
            font-family: 'Arial', sans-serif;
            text-align: center;
            padding-top: 20%; 
        }
        
        a {
            text-decoration: none;
            color: white;
            display: inline-block;
            margin-top: 20px;
            padding: 10px;
            background-color: rgb(46, 46, 46);
            border-radius: 5px;
            transition: background-color 0.3s;
        }
        
        a:hover {
            background-color: rgb(0, 162, 255);
        }
    </style>
</head>
<body>
    <h1>Video Deleted</h1>
    <p>The Video was deleted<br>Go to the Home Page.</p>
    <a href="https://videos.mubi.tech">Return to Homepage</a>
</body>
</html>
