@import url('https://fonts.googleapis.com/css2?family=Gluten&display=swap'); /** gonna be used for stuff, cool font https://fonts.google.com/specimen/Gluten?query=gluten */

* {
    font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
    /**font-family: "Comic Sans MS", "Arial", cursive;
    sorry it needs to be native!
    */
}
